/* Make the header span over 10% of the screen height : use height: 10vh */

.Header {
    height: 5%;
    padding: 10px;
}

.Header-nav {
    margin:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header-logo-form {
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.Header-menu {
    padding:0 1px 5px 0;
    position: absolute;
    right:10px;
}

.Header-sidebar {
    height: 100%;
    width: 50vw;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    display: none;
    background-color: rgba(230, 230, 230, 1);
    overflow-x: hidden;
    transition: 1s;
    padding-top: 30px;
}

.Header-sidebar-opbtn {
    display: inline;
    border: none;
    background-color: white;
    font-size: 20px;
    padding-top: 6px;
}

.Header-sidebar-clbtn {
    position: absolute;
    top:5px;
    right:5px;
    border: none;
    background-color: #fff0;
    font-size:30px;
}


.Header-search-form {
    display:flex;
}

.Header-location-bar {
   width: 60vw;
   height: 23px;
   border-radius: 5px;
   border: 2px solid rgb(161, 154, 154);
   box-shadow: none;
   margin-left: 5px;
   outline: none;
   padding: 0 5px;
}

.Header-sidebar-links {
    list-style: none;
    padding: 0;
}

.Header-logo {
    height: 30px;
    width: 30px;
}

.Header-location-button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    transform: translateX(-21px);
    outline: none;
    padding: 2px;
}

.Header-location-button:hover {
    cursor: pointer;
}

.Header-sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
    outline: none;
}

.Header-links {
    display: none;
    width: 40vw;
    margin: 10px;
    padding: 0 30px;
    position: absolute;
    right:20px;
    top: 0px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.Header-links a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.Header-links a:hover {
    cursor: pointer;
    color: #333;
}

@media only screen and (min-width:768px){
    .Header-links {
        display: flex;    
    }

    .Header-location-bar {
        width: 30vw;
    }

    .Header-sidebar-opbtn {
        display: none;
    }
}

