/* Make the filters span over next 20% of the page */
/* 10% for the search bar and 10 for the filters bar */

.search-bar-wrapper {
    display: flex;
    justify-content: center;
}
.cuisine-search {
    width: 60%;
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
    padding: 5px 5px;
}
.cuisine-search:focus {
    outline: none !important;
}

.cuisine-tabs {
    list-style-type: none;
    display: inline;
    margin: 0 1rem;
}
.cuisine-tabs:hover {
    cursor: pointer;
}
.tabs {
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
}
.tabs ul {
    padding-left: 1vw;
}
.active-tab {
    font-weight: bold;
}
.Filters  h3 {
    padding-left: 1vw;
    margin-bottom: 0;
    margin-top: 20px;   

    font-weight: bold;
}

.icon-search {
    padding-top:5px;
    margin-left: -25px;
    color: rgb(206, 206, 206)
}
.icon-search:hover {
    color: rgb(134, 134, 134);
    cursor: pointer;
}