/* Make the filters span over next 20% of the page */
/* 10% for the search bar and 10 for the filters bar */

.search-bar-wrapper {
    width: 90%;
    display: flex;
    justify-content: stretch;
}
.cuisine-search {
    width: 100% ;
    border-radius: 5px;
    border: 1px solid rgb(39, 39, 39);
    padding: 5px 5px;
}

.cuisine-search:focus {
    outline: none !important;
}

.cuisine-tabs {
    list-style-type: none;
    display: inline;
    margin-right: 1rem;
}
.cuisine-tabs:hover {
    cursor: pointer;
}

.tabs {
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
}

.tabs ul {
    padding-left: 1vw;
}

.active-tab {
    font-weight: bold;
}


.icon-search {
    padding-top:5px;
    margin-left: -25px;
    color: rgb(0, 0, 0);
    
}

.icon-search:hover {
    color: rgb(134, 134, 134);
    cursor: pointer;
}

.Filters{
    width: 100%;
    padding-left: 5vw;
}

.Filters-Cuisines{
    padding-top: 10px;
}

.Filters-Cuisines span{
    font-weight: bolder;
    font-size: 1.3em;
}